/*The general style of a page*/
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
  ;
}

body {
  background: #EEEDE7;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  background: #fff;
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

/*For now we only care about the left side of the container*/
.container .left_Side {
  position: relative;
  background: #B9B7BD;
  padding: 40 px;
}

/*This is the style for photo, name & posiiton*/
.left_Side .profile {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20 px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.left_Side .profile img {
  position: relative;
  display: flex;
  object-fit: cover;
  width: 200px;
  height: 220px;
  margin-top: 30px;
  border-radius: 20px 20px 20px 20px;
}

.profile h2 {
  color: whitesmoke;
  font-size: 1.5em;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.4em;
}

.profile h2:hover {
  color: #868B8E;
  transition: 1s ease-in-out;

}

.profile h3 {
  color: whitesmoke;
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  margin-bottom: 10px;
}

/*This is the style for Contact Info part*/
.contactInfo .title {
  color: 7B8FA1;
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 10px;
}

.contactInfo {
  color: black;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.contactInfo li {
  /*to only change the list style for this specific part*/
  list-style: none;
  margin: 10px 0;
  cursor: pointer;
}

.icon {
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color: #0A2647;
}

/*This is the Skills part*/

.skills {
  color: black;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}

.skills .title {
  display: flex;
  position: relative;
  left: 40px;
}

.skills li {
  margin: 10px 5px 10px 35px;
  list-style: square;
  letter-spacing: 1px;
}

/*This is the langauges part*/
.languages .title {
  color: black;
  position: relative;
  left: 40px;
  display: flex;
  margin-top: 20px;
}

.languages li {
  margin: 10px 5px 15px 35px;
  list-style: square;
  letter-spacing: 1px;
}

/*This is the style for the right side of the container*/
.container .right_Side {
  position: relative;
  background: #fff;
  padding: 40 px;
  margin-left: 20px;
}

/*Profile*/
.title2 {
  color: #868B8E;
  font-size: 1.5em;
  margin: 20px 0 10px 10px;
  text-transform: uppercase;
  line-height: 1.4em;
  letter-spacing: 1px;
}

.about p {
  margin: 0 30px 10px 10px;
  text-align: justify;
  text-justify: inter-word;
  line-height: 25px;
}

/*Experience*/
.box {
  display: flex;
  flex-direction: row;
  margin: 20px 0 0 10px;
}

.box .year_company {
  min-width: 150px;
}

.year_company h5 {
  text-transform: uppercase;
  color: #848c90;
}

.box .text h4 {
  text-transform: uppercase;
  color: #868B8E;
  font-size: 16px;
}

.text h5 {
  margin-top: 10px;
  font-size: 15px;
}

.text ul {
  font-size: 14px;
  line-height: 30px;
  margin-top: 5px;
}

/*Education*/
.education li {
  margin: 0 5px 25px 15px;
  list-style: none;
}

.education h5 {
  margin-left: 10px;
}

.education h4 {
  margin-top: 10px;
}

.education p {
  margin: 5px 0 0 0;
}

/*Extra Courses*/
.extra li {
  margin: 0 5px 15px 15px;
  list-style: none;
}

.extra li h5 {
  margin: 5px 0 0 15px;
}

/*Interests*/
.interests ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.interests ul li {
  list-style: none;
  color: #333;
  margin: 10px 0 20px 0;
}

.interests li .fa {
  color: #848c90;
  font-size: 18px;
  width: 20px;
}