* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(253, 254, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

h3{
    text-align: center;
}
.full {
    width: 50%;
    max-width: 1000px;
    min-height: 100px;
    background-color: white;
    margin: 0px;
    display: grid;
    grid-template-columns: 2.5fr 3.5fr;
}
.left {
    position: initial;
    background-color: darkslategrey;
    padding: 20px;
    color: whitesmoke;
}

.right {
    position: initial;
    background-color: whitesmoke;
    padding: 20px;
    text-align: justify;
    text-justify: inter-word;
 
}
.image, .Contact, .Skills, .Language, .Hobbies, .title,
.Summary, .Experience, .Education, .project {
    margin-bottom: 30px;
}

.image{
   text-align: center;
}
